<a href="https://colab.research.google.com/github/Anikhossainjoy/For-ML/blob/master/ANN(naik).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as num
import matplotlib as plt
import pandas as pd

In [3]:
df=pd.read_csv('/content/sample_data/datasets_13214_17927_Churn_Modelling.csv')

In [4]:
x=df.iloc[:,3:13]
y=df.iloc[:,13]

In [5]:
df.head(5)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [6]:
geography=pd.get_dummies(x['Geography'],drop_first=True)

In [8]:
gender=pd.get_dummies(x['Gender'],drop_first=True)

In [9]:
x=pd.concat((x,geography,gender),axis=1)

In [10]:
x

      CreditScore Geography  Gender  Age  ...  EstimatedSalary  Germany  Spain  Male
0             619    France  Female   42  ...        101348.88        0      0     0
1             608     Spain  Female   41  ...        112542.58        0      1     0
2             502    France  Female   42  ...        113931.57        0      0     0
3             699    France  Female   39  ...         93826.63        0      0     0
4             850     Spain  Female   43  ...         79084.10        0      1     0
...           ...       ...     ...  ...  ...              ...      ...    ...   ...
9995          771    France    Male   39  ...         96270.64        0      0     1
9996          516    France    Male   35  ...        101699.77        0      0     1
9997          709    France  Female   36  ...         42085.58        0      0     0
9998          772   Germany    Male   42  ...         92888.52        1      0     1
9999          792    France  Female   28  ...         38190.78        0      0     0

[10000 rows x 13 columns]

In [11]:
x=x.drop(['Geography','Gender'],axis=1)

In [12]:
x

      CreditScore  Age  Tenure  ...  Germany  Spain  Male
0             619   42       2  ...        0      0     0
1             608   41       1  ...        0      1     0
2             502   42       8  ...        0      0     0
3             699   39       1  ...        0      0     0
4             850   43       2  ...        0      1     0
...           ...  ...     ...  ...      ...    ...   ...
9995          771   39       5  ...        0      0     1
9996          516   35      10  ...        0      0     1
9997          709   36       7  ...        0      0     0
9998          772   42       3  ...        1      0     1
9999          792   28       4  ...        0      0     0

[10000 rows x 11 columns]

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=0)

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [16]:
X_test

array([[-0.55204276, -0.36890377,  1.04473698, ...,  1.75486502,
        -0.57369368, -1.09168714],
       [-1.31490297,  0.10961719, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       [ 0.57162971,  0.30102557,  1.04473698, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ..., -0.5698444 ,
         1.74309049,  0.91601335],
       [-0.00566991, -0.46460796, -0.33936434, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-0.79945688, -0.84742473,  1.04473698, ...,  1.75486502,
        -0.57369368,  0.91601335]])

In [17]:
import keras
from keras.models import Sequential #creating envornment
from keras.layers import Dense # for hidden layer
from keras.layers import Dropout

In [18]:
classifier=Sequential()

In [59]:
classifier.add(Dense(units=10,kernel_initializer='he_normal',activation='relu',input_dim=11))
classifier.add(Dropout(.3))

In [60]:
classifier.add(Dense(units=20,kernel_initializer='he_normal',activation='relu'))
classifier.add(Dropout(.4))
classifier.add(Dense(units=15,kernel_initializer='he_normal',activation='relu'))
classifier.add(Dropout(.3))

In [61]:
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid',input_dim=11))

In [22]:
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 6)                 42
=================================================================
Total params: 156
Trainable params: 156
Non-trainable params: 0
_________________________________________________________________

In [62]:
classifier.compile(optimizer='adam' ,loss='binary_crossentropy',metrics=['accuracy'])

In [63]:
model_history=classifier.fit(X_train,y_train,validation_split=.33,batch_size=10,nb_epoch=100)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 1s 273us/step - loss: 0.5328 - accuracy: 0.7960 - val_loss: 0.4318 - val_accuracy: 0.7955
Epoch 2/100
5359/5359 [==============================] - 1s 223us/step - loss: 0.4197 - accuracy: 0.7962 - val_loss: 0.3956 - val_accuracy: 0.7955
Epoch 3/100
5359/5359 [==============================] - 1s 240us/step - loss: 0.3954 - accuracy: 0.8231 - val_loss: 0.3912 - val_accuracy: 0.8474
Epoch 4/100
5359/5359 [==============================] - 1s 233us/step - loss: 0.3796 - accuracy: 0.8302 - val_loss: 0.4097 - val_accuracy: 0.8315
Epoch 5/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3794 - accuracy: 0.8362 - val_loss: 0.3820 - val_accuracy: 0.8455
Epoch 6/100
5359/5359 [==============================] - 1s 202us/step - loss: 0.3723 - accuracy: 0.8427 - val_loss: 0.3870 - val_accuracy: 0.8497
Epoch 7/100
5359/5359 [==============================] - 1s 203us/step - loss: 0.3753 - accuracy: 0.8360 - val_loss: 0.4296 - val_accuracy: 0.8183
Epoch 8/100
5359/5359 [==============================] - 1s 204us/step - loss: 0.3757 - accuracy: 0.8350 - val_loss: 0.4084 - val_accuracy: 0.8342
Epoch 9/100
5359/5359 [==============================] - 1s 231us/step - loss: 0.3710 - accuracy: 0.8356 - val_loss: 0.3839 - val_accuracy: 0.8519
Epoch 10/100
5359/5359 [==============================] - 1s 223us/step - loss: 0.3682 - accuracy: 0.8423 - val_loss: 0.4153 - val_accuracy: 0.8391
Epoch 11/100
5359/5359 [==============================] - 1s 201us/step - loss: 0.3649 - accuracy: 0.8393 - val_loss: 0.4056 - val_accuracy: 0.8542
Epoch 12/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3661 - accuracy: 0.8403 - val_loss: 0.3798 - val_accuracy: 0.8531
Epoch 13/100
5359/5359 [==============================] - 1s 202us/step - loss: 0.3678 - accuracy: 0.8390 - val_loss: 0.3837 - val_accuracy: 0.8538
Epoch 14/100
5359/5359 [==============================] - 1s 218us/step - loss: 0.3679 - accuracy: 0.8416 - val_loss: 0.4038 - val_accuracy: 0.8531
Epoch 15/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3639 - accuracy: 0.8421 - val_loss: 0.3940 - val_accuracy: 0.8474
Epoch 16/100
5359/5359 [==============================] - 1s 200us/step - loss: 0.3631 - accuracy: 0.8419 - val_loss: 0.4170 - val_accuracy: 0.8466
Epoch 17/100
5359/5359 [==============================] - 1s 221us/step - loss: 0.3669 - accuracy: 0.8416 - val_loss: 0.4114 - val_accuracy: 0.8519
Epoch 18/100
5359/5359 [==============================] - 1s 206us/step - loss: 0.3638 - accuracy: 0.8391 - val_loss: 0.4042 - val_accuracy: 0.8508
Epoch 19/100
5359/5359 [==============================] - 1s 202us/step - loss: 0.3614 - accuracy: 0.8433 - val_loss: 0.3961 - val_accuracy: 0.8493
Epoch 20/100
5359/5359 [==============================] - 1s 201us/step - loss: 0.3667 - accuracy: 0.8386 - val_loss: 0.4263 - val_accuracy: 0.8538
Epoch 21/100
5359/5359 [==============================] - 1s 205us/step - loss: 0.3609 - accuracy: 0.8390 - val_loss: 0.3841 - val_accuracy: 0.8519
Epoch 22/100
5359/5359 [==============================] - 1s 216us/step - loss: 0.3635 - accuracy: 0.8388 - val_loss: 0.3962 - val_accuracy: 0.8527
Epoch 23/100
5359/5359 [==============================] - 1s 222us/step - loss: 0.3605 - accuracy: 0.8377 - val_loss: 0.3853 - val_accuracy: 0.8516
Epoch 24/100
5359/5359 [==============================] - 1s 201us/step - loss: 0.3633 - accuracy: 0.8395 - val_loss: 0.4242 - val_accuracy: 0.8557
Epoch 25/100
5359/5359 [==============================] - 1s 200us/step - loss: 0.3640 - accuracy: 0.8416 - val_loss: 0.3919 - val_accuracy: 0.8504
Epoch 26/100
5359/5359 [==============================] - 1s 228us/step - loss: 0.3603 - accuracy: 0.8406 - val_loss: 0.4081 - val_accuracy: 0.8523
Epoch 27/100
5359/5359 [==============================] - 1s 230us/step - loss: 0.3594 - accuracy: 0.8390 - val_loss: 0.4093 - val_accuracy: 0.8519
Epoch 28/100
5359/5359 [==============================] - 1s 230us/step - loss: 0.3642 - accuracy: 0.8427 - val_loss: 0.3961 - val_accuracy: 0.8519
Epoch 29/100
5359/5359 [==============================] - 1s 215us/step - loss: 0.3648 - accuracy: 0.8408 - val_loss: 0.4038 - val_accuracy: 0.8531
Epoch 30/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3580 - accuracy: 0.8386 - val_loss: 0.3923 - val_accuracy: 0.8516
Epoch 31/100
5359/5359 [==============================] - 1s 201us/step - loss: 0.3647 - accuracy: 0.8399 - val_loss: 0.4117 - val_accuracy: 0.8523
Epoch 32/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3633 - accuracy: 0.8391 - val_loss: 0.4236 - val_accuracy: 0.8508
Epoch 33/100
5359/5359 [==============================] - 1s 231us/step - loss: 0.3604 - accuracy: 0.8416 - val_loss: 0.4350 - val_accuracy: 0.8497
Epoch 34/100
5359/5359 [==============================] - 1s 261us/step - loss: 0.3624 - accuracy: 0.8386 - val_loss: 0.3991 - val_accuracy: 0.8516
Epoch 35/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3611 - accuracy: 0.8414 - val_loss: 0.4195 - val_accuracy: 0.8542
Epoch 36/100
5359/5359 [==============================] - 1s 238us/step - loss: 0.3625 - accuracy: 0.8393 - val_loss: 0.4083 - val_accuracy: 0.8527
Epoch 37/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.3626 - accuracy: 0.8412 - val_loss: 0.4024 - val_accuracy: 0.8497
Epoch 38/100
5359/5359 [==============================] - 1s 216us/step - loss: 0.3585 - accuracy: 0.8425 - val_loss: 0.4242 - val_accuracy: 0.8527
Epoch 39/100
5359/5359 [==============================] - 1s 209us/step - loss: 0.3642 - accuracy: 0.8378 - val_loss: 0.3949 - val_accuracy: 0.8523
Epoch 40/100
5359/5359 [==============================] - 1s 225us/step - loss: 0.3559 - accuracy: 0.8421 - val_loss: 0.4013 - val_accuracy: 0.8497
Epoch 41/100
5359/5359 [==============================] - 1s 241us/step - loss: 0.3606 - accuracy: 0.8408 - val_loss: 0.4270 - val_accuracy: 0.8482
Epoch 42/100
5359/5359 [==============================] - 1s 214us/step - loss: 0.3601 - accuracy: 0.8390 - val_loss: 0.3986 - val_accuracy: 0.8527
Epoch 43/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.3635 - accuracy: 0.8378 - val_loss: 0.4280 - val_accuracy: 0.8478
Epoch 44/100
5359/5359 [==============================] - 1s 243us/step - loss: 0.3582 - accuracy: 0.8360 - val_loss: 0.4025 - val_accuracy: 0.8519
Epoch 45/100
5359/5359 [==============================] - 1s 241us/step - loss: 0.3569 - accuracy: 0.8434 - val_loss: 0.3959 - val_accuracy: 0.8463
Epoch 46/100
5359/5359 [==============================] - 1s 207us/step - loss: 0.3588 - accuracy: 0.8408 - val_loss: 0.3947 - val_accuracy: 0.8474
Epoch 47/100
5359/5359 [==============================] - 1s 218us/step - loss: 0.3636 - accuracy: 0.8408 - val_loss: 0.3844 - val_accuracy: 0.8554
Epoch 48/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.3552 - accuracy: 0.8367 - val_loss: 0.4167 - val_accuracy: 0.8538
Epoch 49/100
5359/5359 [==============================] - 1s 220us/step - loss: 0.3618 - accuracy: 0.8367 - val_loss: 0.4038 - val_accuracy: 0.8497
Epoch 50/100
5359/5359 [==============================] - 1s 216us/step - loss: 0.3632 - accuracy: 0.8391 - val_loss: 0.4166 - val_accuracy: 0.8523
Epoch 51/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3560 - accuracy: 0.8416 - val_loss: 0.4262 - val_accuracy: 0.8516
Epoch 52/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.3584 - accuracy: 0.8444 - val_loss: 0.4124 - val_accuracy: 0.8504
Epoch 53/100
5359/5359 [==============================] - 1s 241us/step - loss: 0.3577 - accuracy: 0.8397 - val_loss: 0.4255 - val_accuracy: 0.8542
Epoch 54/100
5359/5359 [==============================] - 1s 210us/step - loss: 0.3560 - accuracy: 0.8451 - val_loss: 0.4007 - val_accuracy: 0.8504
Epoch 55/100
5359/5359 [==============================] - 1s 224us/step - loss: 0.3651 - accuracy: 0.8416 - val_loss: 0.3977 - val_accuracy: 0.8527
Epoch 56/100
5359/5359 [==============================] - 1s 215us/step - loss: 0.3597 - accuracy: 0.8412 - val_loss: 0.4135 - val_accuracy: 0.8516
Epoch 57/100
5359/5359 [==============================] - 1s 217us/step - loss: 0.3646 - accuracy: 0.8412 - val_loss: 0.4228 - val_accuracy: 0.8512
Epoch 58/100
5359/5359 [==============================] - 1s 225us/step - loss: 0.3579 - accuracy: 0.8393 - val_loss: 0.4179 - val_accuracy: 0.8519
Epoch 59/100
5359/5359 [==============================] - 1s 221us/step - loss: 0.3616 - accuracy: 0.8412 - val_loss: 0.4094 - val_accuracy: 0.8531
Epoch 60/100
5359/5359 [==============================] - 1s 216us/step - loss: 0.3624 - accuracy: 0.8399 - val_loss: 0.4203 - val_accuracy: 0.8523
Epoch 61/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.3640 - accuracy: 0.8410 - val_loss: 0.4168 - val_accuracy: 0.8561
Epoch 62/100
5359/5359 [==============================] - 1s 233us/step - loss: 0.3571 - accuracy: 0.8438 - val_loss: 0.4124 - val_accuracy: 0.8554
Epoch 63/100
5359/5359 [==============================] - 1s 224us/step - loss: 0.3562 - accuracy: 0.8440 - val_loss: 0.3993 - val_accuracy: 0.8504
Epoch 64/100
5359/5359 [==============================] - 1s 205us/step - loss: 0.3520 - accuracy: 0.8425 - val_loss: 0.4081 - val_accuracy: 0.8550
Epoch 65/100
5359/5359 [==============================] - 1s 222us/step - loss: 0.3590 - accuracy: 0.8410 - val_loss: 0.4167 - val_accuracy: 0.8531
Epoch 66/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3591 - accuracy: 0.8397 - val_loss: 0.4234 - val_accuracy: 0.8523
Epoch 67/100
5359/5359 [==============================] - 1s 235us/step - loss: 0.3584 - accuracy: 0.8434 - val_loss: 0.4254 - val_accuracy: 0.8516
Epoch 68/100
5359/5359 [==============================] - 1s 215us/step - loss: 0.3582 - accuracy: 0.8412 - val_loss: 0.4317 - val_accuracy: 0.8489
Epoch 69/100
5359/5359 [==============================] - 1s 220us/step - loss: 0.3589 - accuracy: 0.8405 - val_loss: 0.4117 - val_accuracy: 0.8474
Epoch 70/100
5359/5359 [==============================] - 1s 235us/step - loss: 0.3542 - accuracy: 0.8360 - val_loss: 0.4250 - val_accuracy: 0.8516
Epoch 71/100
5359/5359 [==============================] - 1s 236us/step - loss: 0.3570 - accuracy: 0.8425 - val_loss: 0.3991 - val_accuracy: 0.8501
Epoch 72/100
5359/5359 [==============================] - 1s 226us/step - loss: 0.3625 - accuracy: 0.8418 - val_loss: 0.4158 - val_accuracy: 0.8523
Epoch 73/100
5359/5359 [==============================] - 1s 241us/step - loss: 0.3576 - accuracy: 0.8403 - val_loss: 0.4030 - val_accuracy: 0.8504
Epoch 74/100
5359/5359 [==============================] - 1s 224us/step - loss: 0.3600 - accuracy: 0.8384 - val_loss: 0.3714 - val_accuracy: 0.8557
Epoch 75/100
5359/5359 [==============================] - 1s 219us/step - loss: 0.3600 - accuracy: 0.8395 - val_loss: 0.4374 - val_accuracy: 0.8489
Epoch 76/100
5359/5359 [==============================] - 1s 222us/step - loss: 0.3575 - accuracy: 0.8440 - val_loss: 0.4095 - val_accuracy: 0.8504
Epoch 77/100
5359/5359 [==============================] - 1s 216us/step - loss: 0.3629 - accuracy: 0.8391 - val_loss: 0.4411 - val_accuracy: 0.8482
Epoch 78/100
5359/5359 [==============================] - 1s 208us/step - loss: 0.3609 - accuracy: 0.8377 - val_loss: 0.4258 - val_accuracy: 0.8531
Epoch 79/100
5359/5359 [==============================] - 1s 216us/step - loss: 0.3596 - accuracy: 0.8438 - val_loss: 0.3918 - val_accuracy: 0.8508
Epoch 80/100
5359/5359 [==============================] - 1s 220us/step - loss: 0.3558 - accuracy: 0.8410 - val_loss: 0.4025 - val_accuracy: 0.8489
Epoch 81/100
5359/5359 [==============================] - 1s 210us/step - loss: 0.3601 - accuracy: 0.8410 - val_loss: 0.4125 - val_accuracy: 0.8493
Epoch 82/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.3530 - accuracy: 0.8382 - val_loss: 0.4388 - val_accuracy: 0.8474
Epoch 83/100
5359/5359 [==============================] - 1s 226us/step - loss: 0.3587 - accuracy: 0.8453 - val_loss: 0.4433 - val_accuracy: 0.8512
Epoch 84/100
5359/5359 [==============================] - 1s 246us/step - loss: 0.3660 - accuracy: 0.8408 - val_loss: 0.4104 - val_accuracy: 0.8448
Epoch 85/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3595 - accuracy: 0.8380 - val_loss: 0.4115 - val_accuracy: 0.8497
Epoch 86/100
5359/5359 [==============================] - 1s 251us/step - loss: 0.3577 - accuracy: 0.8412 - val_loss: 0.4143 - val_accuracy: 0.8550
Epoch 87/100
5359/5359 [==============================] - 1s 258us/step - loss: 0.3588 - accuracy: 0.8403 - val_loss: 0.3903 - val_accuracy: 0.8508
Epoch 88/100
5359/5359 [==============================] - 1s 220us/step - loss: 0.3594 - accuracy: 0.8440 - val_loss: 0.4007 - val_accuracy: 0.8538
Epoch 89/100
5359/5359 [==============================] - 1s 218us/step - loss: 0.3565 - accuracy: 0.8427 - val_loss: 0.4166 - val_accuracy: 0.8516
Epoch 90/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3593 - accuracy: 0.8446 - val_loss: 0.4237 - val_accuracy: 0.8546
Epoch 91/100
5359/5359 [==============================] - 1s 229us/step - loss: 0.3657 - accuracy: 0.8317 - val_loss: 0.4199 - val_accuracy: 0.8493
Epoch 92/100
5359/5359 [==============================] - 1s 222us/step - loss: 0.3628 - accuracy: 0.8408 - val_loss: 0.4310 - val_accuracy: 0.8527
Epoch 93/100
5359/5359 [==============================] - 1s 208us/step - loss: 0.3594 - accuracy: 0.8444 - val_loss: 0.3999 - val_accuracy: 0.8531
Epoch 94/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3577 - accuracy: 0.8421 - val_loss: 0.4285 - val_accuracy: 0.8512
Epoch 95/100
5359/5359 [==============================] - 1s 223us/step - loss: 0.3594 - accuracy: 0.8378 - val_loss: 0.4173 - val_accuracy: 0.8508
Epoch 96/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.3634 - accuracy: 0.8380 - val_loss: 0.4224 - val_accuracy: 0.8466
Epoch 97/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.3619 - accuracy: 0.8377 - val_loss: 0.4187 - val_accuracy: 0.8489
Epoch 98/100
5359/5359 [==============================] - 1s 218us/step - loss: 0.3589 - accuracy: 0.8429 - val_loss: 0.4549 - val_accuracy: 0.8489
Epoch 99/100
5359/5359 [==============================] - 1s 223us/step - loss: 0.3558 - accuracy: 0.8444 - val_loss: 0.4366 - val_accuracy: 0.8508
Epoch 100/100
5359/5359 [==============================] - 1s 218us/step - loss: 0.3510 - accuracy: 0.8434 - val_loss: 0.4163 - val_accuracy: 0.8516

In [64]:
y_predict=classifier.predict(X_test)

In [65]:
y_predict=(y_predict>.5)

In [43]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [45]:
cm=confusion_matrix(y_test,y_predict)

In [46]:
cm

array([[1540,   55],
       [ 211,  194]])

In [47]:
score=accuracy_score(y_predict,y_test)

In [48]:
score

0.867

In [58]:
score=accuracy_score(y_predict,y_test)
score

0.86

In [66]:
score=accuracy_score(y_predict,y_test)
score

0.8645